:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color-h1: #FFFFFF;
    --hero-color: #2F303A;
    --background-color: #F5F4FA;
    --logo-color: #000000;
}

body {
    color: var(--primary-text-color);
    background-color: var(-background-color);
}

ul {
    list-style: none;
}

    /*Header*/

.site-nav .link.current {
    color: var(--accent-color);
}

.logo {
    color: var(--logo-color);
}

.link{
    color: var(--title-text-color);
}

.link:hover,
.link:focus,
.contacts:focus,
.contacts:hover {
    color: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

             /* Mein */

/* Hero */

.hero {
    background-color: var(--hero-color);
}

.hero-title {
    color: var(--background-color-h1);
}

.button {
    
}

.button.primary {
    color: var(--background-color-h1);
    background-color: var(--accent-color);
}

.button:focus,
.button:hover {
    background-color: var(--primary-text-color);
}

/* Section */

.section-title {
    color: var(--title-text-color);
}

.section-team {
    background-color: var(--background-color);
}

/* Footer */

.footerr {
    background-color: var(--hero-color);
}

.adress {
    color: var(--background-color-h1);
}